version: '2'
services:

  nginx:
    build: ./nginx/
    ports:
      - 8080:80
    links:
      - php
    volumes_from:
      - app
    networks:
      app_subnet:
        ipv4_address: 172.20.1.2
    container_name: nginx

  php:
    build: ./php/
    expose:
      - 9000
    links:
      - mysql
      - redis
    volumes_from:
      - app
    networks:
      app_subnet:
        ipv4_address: 172.20.1.3
    container_name: php

  redis:
    image: redis:latest
    volumes:
      - /var/lib/redis
    restart: always
    ports:
      - 6379:6379
    networks:
      app_subnet:
        ipv4_address: 172.20.1.4
    container_name: redis

  mysql:
    image: mysql:latest
    volumes:
        - /var/lib/mysql
    environment:
        MYSQL_ROOT_PASSWORD: root
        MYSQL_DATABASE: dev_redlinemom
        MYSQL_USER: root
        MYSQL_PASSWORD: root
    restart: always
    ports:
     - 3306:3306
    networks:
     app_subnet:
        ipv4_address: 172.20.1.5
    container_name: mysql

  app:
    build: ./app/
    depends_on:
      - php
      - mysql
      - redis
    volumes:
      - #PATH#:/var/www/html
    networks:
      app_subnet:
        ipv4_address: 172.20.1.6
    container_name: app

networks:
  app_subnet:
    external: true
